</div>
<!-- FOOTER -->
<footer class="text-center text-white fixed-bottom" style="background-color: #339bf0">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    &copy; TWEETA
  </div>
</footer>
</body>
</html>