<div class="container-fluid">
    <a class="navbar-brand" href="/">TWEETA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Tweeta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
<!-- TEMP -->
        <li class="nav-item">
            <a class="nav-link link-danger" aria-current="page" href="/auth/login">Login (just to check route)</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link link-danger" href="/auth/register">Register (just to check route)</a>
          </li>
<!-- TEMP -->
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- CONTENT -->
<div class="container">