<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>

<div class="mx-auto" style="min-height: 88vh">
    <form class="mt-5">
        <div class="mb-3">
          
          <input type="text" class="form-control w-100" id="post" placeholder="What are you up to?"/>
        </div>
        <div class="mb-3">

        <button type="submit" class="btn btn-primary mb-3">Create post</button>
      </form>
  </div>

  <h2>Posts</h2>
  <hr class="border border-primary border-1 opacity-75">

  <div class="card w-100" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-3">POST TEXT</li>
     
    </ul>
    <div class="card-footer p-2">
        <div class="d-flex justify-content-between p-2">
            <div><a href="/users/:id" class="card-link text-decoration-none"
                >USER NAME</a
              ></div>
            <div class="d-flex justify-content-between">
                <div><a href="/post/:id" class="card-link  text-decoration-none"
                    >View Post</a
                  > <span style="color:#6c757d;">&nbsp; Time ago</span></div>
                
            </div>
        </div>
      
    </div>
  </div>

<%- include('../partials/footer.ejs') %>
