<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>

<div class="mt-5 mb-3"><h2>Username</h2></div>

<hr class="border border-primary border-1 opacity-75" />

<div class="card w-100" style="width: 18rem">
  <ul class="list-group list-group-flush">
    <li class="list-group-item p-3">USER'S POST</li>
  </ul>
  <div class="card-footer p-2">
    <div class="d-flex justify-content-between p-2">
      <div>
        <span style="color: #6c757d">Username</span>
      </div>

      <div>
        <span style="color: #6c757d">&nbsp; Time ago</span>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
